#searcharea {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: -10;
  overflow: hidden;
  height: 215px;
}
.topshortcut1 {
  display: flex;
  flex-direction: row;
  float: left;
}

.shortcut {
  width: 36px;
  height: 36px;
  background-size: 433px 412px;
  background-image: url();
  background-position: -330px -76px;
}
.naverpay {
  width: 36px;
  height: 36px;
  background-size: 433px 412px;
  background-image: url();
  background-position: -293px -175px;
}
.navertalk {
  width: 28px;
  height: 28px;
  background-size: 433px 412px;
  background-image: url();
  background-position: -334px -188px;
}
.notificationandbenefit {
  width: 28px;
  height: 28px;
  background-size: 433px 412px;
  background-image: url();
  background-position: -334px -134px;
}

.topshortcut2 {
  display: flex;
  flex-direction: row;
  float: right;
}

.topshortcut1,
.topshortcut2 {
  margin: 10px;
}

.topshortcut1 div,
.topshortcut2 div {
  margin: 10px;
}

.logoandsearch {
  width: 90%;
  clear: both;
  display: flex;
  flex-direction: row;
}
.logoandsearch .naverlogo {
  width: 60px;
  height: 30px;
  margin: 10px;
  position: relative;
  left: 40px;
}
.logoandsearch .searchtap {
  width: 700px;
  margin: auto;
  display: flex;
  flex-direction: row;
  border: 2px solid #03c75b;
  border-radius: 30px;
}

.logoandsearch .searchtap .nlogo {
  margin-left: 20px;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  background-size: 433px 412px;
  background-image: url();
  background-position: -360px -147px;
  position: relative;
  top: 12px;
}
#searchbar {
  width: 706px;
  height: 50px;
  top: 52px;
  border: 1px solid #03c75a;
  left: 25%;
  border-radius: 33px;
  background-color: #fff;
  position: absolute;
  text-align: left;
}
.logoandsearch .searchtap .inputtool {
  margin-left: 10px;
  width: 26px;
  height: 18px;
  background-size: 433px 412px;
  background-image: url();
  background-position: -228px -252px;
  position: relative;
  top: 17px;
}
.logoandsearch .searchtap .moretap {
  margin-left: 10px;
  margin-right: 10px;
  width: 11px;
  height: 11px;
  background-size: 433px 412px;
  background-image: url();
  background-position: -133px -197px;
  position: relative;
  top: 20px;
}
.logoandsearch .searchtap .searchbutton {
  margin-right: 20px;
  width: 27px;
  height: 24px;
  background-size: 433px 412px;
  background-image: url();
  background-position: -332px -293px;
  position: relative;
  top: 12px;
}

.shortcuticonwrap {
  display: flex;
  flex-direction: row;
  width: 660px;
  margin: auto;
  position: relative;
  top: 45%;
}

/* ---- 각 아이콘별 이미지 지정 ---- */
.shortcuticonwrap > a {
  background-size: 468px 456px;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.dfa24248.png);
  background-repeat: no-repeat;
  border: 1px solid #eeeff0;
  border-radius: 18px;
  margin: 10px;
  text-align: center;
  width: 40px;
  height: 40px;
  color: black;
  text-decoration: none;
  display: inline-block;
  z-index: 10;
  position: relative;
}

.shortcuticonwrap > a span {
  pointer-events: none;
}

#sc-0 {
  background-position: -205px -219px;
}
#sc-1 {
  background-position: -41px -219px;
}
#sc-2 {
  background-position: 0px -219px;
}
#sc-3 {
  background-position: -41px -260px;
}
#sc-4 {
  background-position: -270px -205px;
}
#sc-5 {
  background-position: -123px -260px;
}
#sc-6 {
  background-position: 0px -260px;
}
#sc-7 {
  background-position: -270px 0px;
}
#sc-8 {
  background-position: -164px -260px;
}
#sc-9 {
  background-position: -270px -123px;
}

/* ---- 각 아이콘별 이미지 지정 ---- */

.shortcuticonwrap > a > span {
  position: relative;
  left: 0;
  top: 50px;
}
