#searcharea {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: -10;
  overflow: hidden;
  height: 215px;
}
.topshortcut1 {
  display: flex;
  flex-direction: row;
  float: left;
}

.shortcut {
  width: 36px;
  height: 36px;
  background-size: 433px 412px;
  background-image: url();
  background-position: -330px -76px;
}
.naverpay {
  width: 36px;
  height: 36px;
  background-size: 433px 412px;
  background-image: url();
  background-position: -293px -175px;
}
.navertalk {
  width: 28px;
  height: 28px;
  background-size: 433px 412px;
  background-image: url();
  background-position: -334px -188px;
}
.notificationandbenefit {
  width: 28px;
  height: 28px;
  background-size: 433px 412px;
  background-image: url();
  background-position: -334px -134px;
}

.topshortcut2 {
  display: flex;
  flex-direction: row;
  float: right;
}

.topshortcut1,
.topshortcut2 {
  margin: 10px;
}

.topshortcut1 div,
.topshortcut2 div {
  margin: 10px;
}

.logoandsearch {
  width: 90%;
  clear: both;
  display: flex;
  flex-direction: row;
}
.logoandsearch .naverlogo {
  width: 60px;
  height: 30px;
  margin: 10px;
  position: relative;
  left: 40px;
}
.logoandsearch .searchtap {
  width: 700px;
  margin: auto;
  display: flex;
  flex-direction: row;
  border: 2px solid #03c75b;
  border-radius: 30px;
}

.logoandsearch .searchtap .nlogo {
  margin-left: 20px;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  background-size: 433px 412px;
  background-image: url();
  background-position: -360px -147px;
  position: relative;
  top: 12px;
}
#searchbar {
  width: 706px;
  height: 50px;
  top: 52px;
  border: 1px solid #03c75a;
  left: 25%;
  border-radius: 33px;
  background-color: #fff;
  position: absolute;
  text-align: left;
}
.logoandsearch .searchtap .inputtool {
  margin-left: 10px;
  width: 26px;
  height: 18px;
  background-size: 433px 412px;
  background-image: url();
  background-position: -228px -252px;
  position: relative;
  top: 17px;
}
.logoandsearch .searchtap .moretap {
  margin-left: 10px;
  margin-right: 10px;
  width: 11px;
  height: 11px;
  background-size: 433px 412px;
  background-image: url();
  background-position: -133px -197px;
  position: relative;
  top: 20px;
}
.logoandsearch .searchtap .searchbutton {
  margin-right: 20px;
  width: 27px;
  height: 24px;
  background-size: 433px 412px;
  background-image: url();
  background-position: -332px -293px;
  position: relative;
  top: 12px;
}

.shortcuticonwrap {
  display: flex;
  flex-direction: row;
  width: 660px;
  margin: auto;
  position: relative;
  top: 45%;
}
.shortcuticonwrap > div {
  width: 44px;
  height: 44px;
  border: 1px solid #eeeff0;
  border-radius: 18px;
  margin: 10px;
  text-align: center;
}

/* ---- 각 아이콘별 이미지 지정 ---- */
#sc-mail {
  background-size: 433px 412px;
  background-image: url();
  background-position: -250px -90px;
}
#sc-cafe {
  background-size: 433px 412px;
  background-image: url();
  background-position: -250px 0;
}
#sc-blog {
  background-size: 433px 412px;
  background-image: url();
  background-position: -201px -98px;
}
#sc-shopping {
  background-size: 433px 412px;
  background-image: url();
  background-position: -90px -209px;
}
#sc-news {
  background-size: 433px 412px;
  background-image: url();
  background-position: 0 -209px;
}
#sc-stock {
  background-size: 433px 412px;
  background-image: url();
  background-position: -180px -209px;
}
#sc-home {
  background-size: 433px 412px;
  background-image: url();
  background-position: -45px -209px;
}
#sc-map {
  background-size: 433px 412px;
  background-image: url();
  background-position: -201px 0;
}
#sc-webtoon {
  background-size: 433px 412px;
  background-image: url();
  background-position: -225px -209px;
}
#sc-etc {
  background-size: 433px 412px;
  background-image: url();
  background-position: -250px -135px;
}
/* ---- 각 아이콘별 이미지 지정 ---- */

.shortcuticonwrap > div > span {
  position: relative;
  left: 0;
  top: 50px;
}
