a {
  text-decoration: none;
  user-select: none;
  outline: none;
  color: black;
  display: inline-block;
}
.main-box {
  margin-bottom: 15px;
  width: 830px;
  display: block;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, 0.04);
}

.main-ad-box {
  height: 130px;
}

.ad-img {
  width: 830px;
  height: 130px;
  border-radius: 8px;
}

.main-news-box {
  height: 426px;
}

.main-category {
  display: flex;
  align-items: center;
  width: 830px;
  height: 58px;
  padding: 18px 20px 17px;
  box-sizing: border-box;
}

#se-circle {
  width: 4px;
  height: 4px;
  background-color: #d3d5d7;
  border-radius: 50%;
  margin: 3px 3px;
}

.se-bar {
  display: block;
  width: 1px;
  height: 15px;
  background-color: #d3d5d7;
  transform: skewX(-15deg);
}

#sports {
  margin-right: 5px;
}

.sports-box {
  display: flex;
  align-items: center;
  margin-right: 13px;
  width: 48px;
  height: 18px;
  background-color: #f4361e;
  padding: 0 5px 0 4px;
  border-radius: 9px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  box-sizing: border-box;
}

.sports-icon {
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.712d35ae.png);
  background-size: 442px 434px;
  background-position: -310px -288px;
  background-repeat: no-repeat;
  width: 14px;
  height: 10px;
}

.info-box {
  display: flex;
  align-items: center;
  width: 790px;
  height: 50px;
  background-color: #f5f7f8;
  margin: 0 20px;
  padding: 12px 20px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}

.info-content:first-child {
  margin-right: 5px;
}

.info-box #se-circle {
  margin: 5px 5px;
}

.info-box .se-bar {
  background-color: #d3d5d7;
  width: 1px;
  height: 12px;
  margin: 0 12px;
}

.main__section-news-info-des {
  margin-right: 25px;
}

.news-box {
  width: 790px;
  height: 224px;
  margin: 18px 20px;
  display: block;
}

.news-list {
  border-bottom: 1px solid #e3e5e8;
  width: 790px;
  max-width: 790px;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
  /* 자동으로 줄바꿈 */
  flex-wrap: wrap;
}

.main-news-item {
  display: flex;
  justify-content: center;
  padding: 18px 0;
  border: 1px solid #e3e5e8;
  width: 127px;
  height: 56px;
  box-sizing: border-box;
}

.main-news-image {
  width: 60px;
  height: 20px;
  object-fit: contain;
}

.carousel {
  display: flex;
  justify-content: center;
  padding: 10px 0 11px;
  width: 830px;
  height: 58px;
  border-top: 1px solid #e3e5e8;
  box-sizing: border-box;
}

.carousel-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid #dadcdf;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  margin: 0 40px;
}

.carousel-indicator i {
  color: #2a2c2f;
}

.carousel-box {
  display: flex;
  align-items: center;
}

.carousel-content {
  font-size: 13px;
  margin: 0 2px;
  font-weight: bold;
}

.carousel-content #highright {
  color: blue;
}

.carousel-content #highright2 {
  color: rgb(255, 119, 255);
}

.shopping {
  height: 560px;
}

.main-title {
  margin: 0 13px;
  font-size: 18px;
  font-weight: bold;
  color: #838383;
  text-decoration: none;
}

.main-title-small {
  margin: 0 13px;
  font-size: 18px;
  font-weight: bold;
  color: #838383;
  text-decoration: none;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.home-title {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-left: 120px;
}

.shop-list-wrap {
  display: flex;
  margin-top: 18px;
  padding: 0 20px 1px;
  width: 830px;
  height: 376px;
  box-sizing: border-box;
}

.shop-box2 {
  padding-left: 21px;
  width: 252.45px;
  height: 375px;
  box-sizing: border-box;
}

.shop-list-main-box {
  display: flex;
  width: 520px;
  height: 190px;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  flex-wrap: wrap;
}

.shop-box {
  margin-right: 20px;
  width: 520px;
  height: 375px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.item-box {
  width: 160px;
  height: 189px;
  box-sizing: border-box;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; /*flex 내부에 아이템들 중앙 정렬*/
}

.content-img {
  width: 160px;
  height: 115px;
  object-fit: cover;
}

.shopping-content {
  font-size: 14px;
  line-height: 19px;
  overflow: hidden;
  box-sizing: border-box;
  font-weight: bold;
}

.price {
  color: red;
  margin-right: 3px;
}
.shop-title-box {
  display: flex;
  width: 232px;
  height: 40px;
  margin-bottom: 12px;
  padding: 10px 12px;
  border-radius: 4px;
  background-color: #fff3f0;
  font-size: 14px;
  box-sizing: border-box;
}

.shop-box2-title {
  margin-right: 2.1px;
  font-weight: bold;
  color: #101010;
  text-decoration: none;
}

.item-box-wrap {
  display: block;
  width: 232px;
  height: 300px;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

#box2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 12px;
  width: 232px;
  height: 92px;
  box-sizing: border-box;
  justify-content: left;
}

.content-img {
  width: 160px;
  height: 115px;
  object-fit: cover;
}
#box2-image {
  width: 92px;
  height: 92px;
  display: block;
}

.shop-box2-item-img {
  width: 100%;
  height: 100%;
}

#box2-content {
  margin-left: 15px;
  width: 125.5px;
  height: 61px;
}

#hobby {
  height: 761px;
}

.hobby-list-wrap {
  display: block;
  padding: 0 20px;
  width: 830px;
  height: 642px;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
.main__section-hobby-list {
  display: flex;
  width: 790px;
  height: 214px;
  box-sizing: border-box;
}

.main__section-hobby-list-item {
  padding: 0 20px 20px 0;
  width: 197.5px;
  height: 214px;
  box-sizing: border-box;
}

.main__section-hobby-img-box {
  width: 182.5px;
  height: 120px;
}

.main__section-hobby-img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__section-hobby-des {
  margin-top: 10px;
  overflow: hidden;
  max-height: 40px;
  line-height: 20px;
  text-overflow: ellipsis;
  width: 182.5px;
  height: 50px;
  font-size: 14px;
  box-sizing: border-box;
}

.main__section-hobby-user-box {
  display: flex;
  align-items: center;
  margin-top: 4px;
  width: 182.5px;
  height: 20px;
  box-sizing: border-box;
}

.main__section-hobby-user-img {
  margin: 0 6px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.main__section-hobby-user-name {
  font-size: 13px;
  color: #606060;
}
