@import "./common.css";
@import "./header.css";
@import "./aside.css";
@import "./main.css";
@import "./footer.css";

.wrap {
  min-width: 1340px;
}


.header .menu-link {
  
}

.header .menu-link .menu-item {

}

#hello::before {
  content: "a";
  background-color: yellow;
}

#hello::after {
  content: "b"
}